<a href="https://colab.research.google.com/github/kavyaperavali/kavya_INFO-5731_spring_2020/blob/master/kavya%2Cperavali_Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
def calculate_string_length(string1):
    count = 0
    for char in string1:
        count = count + 1
    return count
print(calculate_string_length("Master's in Data Science"))

24

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
def number_of_characters(string1):
    dict = {}
    for n in string1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(number_of_characters('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
def sum_of_all_the_items_in_a_list(items):
  sum_of_numbers = 0
  for a in items:
     sum_of_numbers += a
  return sum_of_numbers
print(sum_of_all_the_items_in_a_list([12,15,18,16,52,-897]))

-784

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
def change_the_char_in_the_given_string(string1):
  
  given_string = string1[0]
  string2 = string1.replace(given_string, '$')
  string3 = given_string + string2[1:]

  return string3
print(change_the_char_in_the_given_string('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

SyntaxError: ignored

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
# write your answer here

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
max_and_min_set = set([25654, 26548,544,564648,56464])
print(max(max_and_min_set))
print(min(max_and_min_set))

564648
544

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
# write your answer here